MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=sd2-db
MYSQL_USER=admin
MYSQL_PASSWORD=your_password

DB_HOST=db
DB_PORT=3306
DB_NAME=sd2-db
DB_USER=admin
DB_PASSWORD=your_password

PMA_HOST=db
PMA_PORT=3306