MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=gaia_db
MYSQL_USER=admin
MYSQL_PASSWORD=your_password

DB_HOST=127.0.0.1
DB_PORT=3308
DB_NAME=gaia_db
DB_USER=admin
DB_PASSWORD=your_password

PMA_HOST=db
PMA_PORT=3306